body {

	font-family: 'Calibri', sans-serif;
	color: #575B5B;
	font-weight: normal;
	text-align: justify;
}

#container{
	margin:20px 160px 100px 160px;
}
#contact-info{
   background-color: #3FBABA;
   height: 280px;
   width: 100%;
}
.table-contact{
	 width:100%;
}
.td-contact-img{
	width:20%;
	text-align:center;
}
.td-contact-info{
	text-align:left;
}
.td-contact-branch{
	width:20%;
	text-align:right;
	vertical-align:top;
}

h1 {
 font-size: 2rem;
}

.title-link {
color: #fff;
font-size: 1.5rem;
font-weight: normal;
margin-top: 10px;
margin-right: 10px;
text-align: justify;
}

.title-link:hover{
	cursor:pointer;
}

.title{
	width:100%;
	background: #3FBABA;
}

.title-td-align{
	text-align:left;
}

.title-td-icon{
	width: 25px;
}
.info-space-td{
	vertical-align:top;
	padding: 10px;
	width: 50%;
}

.master {
  color: #fff;
  font-weight: normal;
}

.profile {
  width: 200px;
}

.icons-contact {
width: 22px;
}

.icon-branch {
	width: 150px;
}

.intro {
border: 4px solid #3FBABA;
margin-top: 20px;
}

.icons-title {
  width: 40px;
}

 .presentation {
  font-weight: normal;
  letter-spacing: 0.4px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

#tbl-formacao{
	display: none;
}

#div-experiencias{
	display: none;
}

#div-youFIT{
	display: none;
}
